

.footer{
    display: flex;
    flex-shrink: 0;
    flex: 1;
    height: 7rem;
    justify-content: flex-end;
    background-color: black;
   z-index: 5;
    position:fixed;
    left:0;
    bottom:0;
    right:0;

}

ul{
    margin: 00px 9rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: flex-start;
    background-color: transparent;
}

.li{
    list-style-type: none;
    background-color: black !important;
    box-shadow: none;
    

}
.h1{
    text-align: left;
    display: flex;
    flex: 1;
}