

.footer{
    display: flex;
    flex-shrink: 0;
    flex: 1;
    height: 8rem;
    justify-content: flex-end;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.829) , rgba(3, 0, 0, 0.849) 30%);
   /* background-color: rgba(65, 55, 34, 0.856);
background-image: linear-gradient(transparent 50%, rgb(66, 53, 53) 50%);
background-size: 50px 50px; */
    
   z-index: 5;
    position:fixed;
    left:0;
    bottom:0;
    right:0;
   


}

ul{
    margin: 30px 9rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: flex-start;
    background-color: transparent;
}

.li{
    list-style-type: none;
    background-color:inherit !important;
    box-shadow: none;
    width: 5rem;
    color: rgb(184, 136, 128)
    

}
.h1{
    background-color: transparent;
    text-align: left;
    display: flex;
    flex: 1;
    margin: 60px 9rem;
}