
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');



h1{
    color: rgb(134, 99, 99);
    background-color: inherit;
    letter-spacing: 2px;
    flex-grow: .4;
    background-color: inherit;
    font-family: IM  Fell Great Primer sc;
    text-transform: uppercase;
    font-weight: 100;
    
}

h1:hover{
    transform: skewX(14deg);
    transition: all 2s;
   
}
body{
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.712)), url('./components/images/beer-barrels-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    overflow-x: hidden;

    
    
}
.header{
    text-align: right  !important;
    color: rgb(163, 125, 107);
    font-size: 3.2rem;
    text-shadow: -1px -1px 7px rgb(133, 21, 21), -1px -1px 12px rgb(65, 37, 5);
}
