
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');



h1{
    /* color: rgb(134, 99, 99); */
    color:rgb(219, 97, 67);
    background-color: inherit;
    letter-spacing: 2px;
    flex-grow: .4;
    background-color: inherit;
    font-family: IM  Fell Great Primer sc;
    text-transform: uppercase;
    font-weight: 100;
    
}

h1:hover{
    transform: skewX(14deg);
    transition: all 2s;
   
}
body{
    background-image: linear-gradient(to left bottom, rgba(65, 53, 37, 0.486), rgba(5, 3, 15, 0.548)), url('./components/images/beer-barrels-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    overflow-x: hidden;

    
    
}
.header{

    font-family: Montserrat !important;
    font-weight: 100;
    color: rgb(226, 209, 189);
    font-size: 4.8rem;
    text-shadow: -1px -1px 7px rgb(173, 94, 29), -1px -1px 12px rgb(15, 11, 7);
    text-transform: uppercase;
    margin-bottom: -2.6rem;
    margin-left: -.3rem;

    

}

.header2{
    
    font-family: Montserrat;
    color: rgb(226, 209, 189);
    font-size: 3.2rem;
    text-shadow: -1px -1px 7px rgb(173, 94, 29), -1px -1px 12px rgb(15, 11, 7);
   
    margin-left: -.1rem;

}

.header3{
    font-family: Montserrat;
    color:rgb(219, 97, 67);
    text-shadow: -1px -1px 7px rgb(173, 94, 29), -1px -1px 12px rgb(15, 11, 7);
    margin-left: 20.9rem;
    margin-top: -5.73rem;
    font-size: 3.3rem;
    font-weight: 500;
    font-style: italic;
    
}

.headerBox{
   
    
    display: flex;
    flex-direction: column;
    justify-content: left !important;
    position: absolute;
    top: 2rem;
    left: 80rem;
  
}
